
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  color: #000000;
  margin: 0;

}
.container {
  background-color: white; /* White background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px 4px rgba(255.0, 255.0, 255.0, 0.8);
  // text-align: center;
  max-width: 600px;
  margin-bottom: 60px;

  margin: 0 auto;
  //margin-left: 20px;
  //margin-right: 20px;
  padding: 20px;
  //opacity: 0.8;
  font-size: 16px;
  line-height: 20px;
}
