html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-results-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  vertical-align: top;
  resize: vertical;
  overflow: auto;
}

audio, canvas, video {
  zoom: 1;
  max-width: 100%;
  display: inline;
}

audio:not([controls]) {
  height: 0;
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}

figure, form {
  margin: 0;
}

legend {
  white-space: normal;
  border: 0;
  margin-left: -7px;
  padding: 0;
}

button, input, select, textarea {
  vertical-align: baseline;
  vertical-align: middle;
  margin: 0;
  font-size: 100%;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  overflow: visible;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  width: 13px;
  height: 13px;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button, input, select, textarea {
  color: #222;
}

::selection {
  text-shadow: none;
  background: #b3d4fc;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  color: #000;
  background: #ccc;
  margin: .2em 0;
  padding: .2em 0;
}

html, body {
  color: #fff;
  background: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Bloody Fonts;
}

body {
  background: #000;
}

.canvas-wrapper {
  outline: none;
  justify-content: center;
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  display: flex;
  position: relative;
}

.renderCanvas {
  pointer-events: auto;
  outline: none;
  width: 100%;
  height: 100%;
  display: block;
  touch-action: auto !important;
}

.page-container {
  background: #000;
  flex-direction: row;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 40px;
  display: flex;
}

@media (width <= 991px) {
  .page-container {
    flex-direction: column;
    align-items: center;
  }
}

.top-title {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 100px;
  font-family: Pacifico, cursive;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  display: block;
}

.social-button {
  background: #fff;
  border-radius: 4px;
  outline: none;
  padding: 8px 16px;
  font-family: Pacifico, cursive;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.social-button.fb-escape {
  transition: transform .28s cubic-bezier(.7, 1.7, .7, 1), box-shadow .2s;
  transform: translate(-220px, -210px)rotate(-18deg)scale(.95);
  box-shadow: 0 8px 32px #0000002e;
}

.social-button.fb-broken {
  clip-path: polygon(0 0, 26% 0, 92% 51%, 78% 106%, 0 94%);
}

.counter {
  font-family: Pacifico, cursive;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.pacifico-regular {
  font-family: Pacifico, cursive;
  font-style: normal;
}

.footer {
  text-align: center;
  color: #fff;
  width: 100%;
  padding: 8px 0;
  font-family: Pacifico, cursive;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  position: fixed;
  bottom: 0;
}

.footer a, .footer a:active, .footer a:visited, .footer a:focus {
  color: #fff;
  text-decoration: underline;
}

.zuck-container {
  text-align: center;
  transition: transform .25s ease-in-out;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%)translateY(100%);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

.split-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.left-panel {
  background: teal;
  border-right: 3px solid #2d2d2d;
  flex: 3;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  display: flex;
}

.right-panel {
  background: #e0e0e0;
  border-left: 3px solid #2d2d2d;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: flex;
}

.desktop-icons {
  flex-direction: column;
  gap: 32px;
  margin: 32px 0 0 32px;
  display: flex;
}

.icon {
  cursor: pointer;
  user-select: none;
  flex-direction: column;
  align-items: center;
  width: 80px;
  display: flex;
}

.icon img {
  background: silver;
  border: 2px solid #fff;
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
  box-shadow: 2px 2px #888;
}

.icon span {
  color: #fff;
  text-shadow: 1px 1px #000;
  margin-top: 2px;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 15px;
}
